
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- <title>Starter MEAN Single Page Application</title> -->
    <base href="/">

</head>
<!-- <a href="/">Home</a> -->
<div align="right">
<a href="#/">Home</a>

</div>
<div align="center">
<!-- {{registrationMessage}} -->
	<h1><u>Registration</u></h1>
	<br>Name:
	<input type="text" name="name" ng-model="regData.name" placeholder="Your name">
	<br>
	<br>Username:
	<input type="text" name="username" ng-model="regData.username" placeholder="Your username">
	<br>
	<br>Email:
	<input type="text" name="email" ng-model="regData.email" placeholder="Email id">
	<br>
	<br>Password:
	<input type="password" name="password" ng-model="regData.password" placeholder="Your secret password">
	<br>
	<br>
	<button type="submit" ng-click="registration(regData)">Submit</button>
	<!-- <p>{{message}}</p> -->
</div>
</html>